* {
  box-sizing: border-box;
  line-height: normal;
}
html,body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
}
@media (max-width: 550px) {
  html, body{
    padding: 5px;
  }
}